/* 暗記モード用 */


/* .filters {
    margin-bottom: 20px;
} */

.filters button {
    /* border: none; */
    padding: 0 16px;
    margin: 4px;
    border-radius: 32px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: solid 1px #000;
    height: 40px;
}

.filters button:hover {
    background: #e0e0e0;
}

#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 24px;
}

.card {
    position: relative;
    border: solid 1px #000;
    background: white;
    border-radius: 8px;
    padding: 24px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); */
    cursor: pointer;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        width: 12px;
        height: calc(100% + 2px);
        border: solid 1px#000;
        border-radius: 8px 0 0 8px;
    }
}

.card h3 {
    margin: 0;
    font-size: 1.2em;
}

.keywords {
    display: none;
    margin-top: 16px;
    padding: 16px 12px 0;
    border-top: 1px dashed #ddd;
    color: #555;
    text-align: left;
    line-height: 1.6;
}

.card.show .keywords {
    display: block;
}

/* カテゴリー色分け */
.card[data-cat="源流思想"]::before {
    background-color: var(--color-blue);
}

.card[data-cat="日本思想"]::before {
    background-color: var(--color-green);
}

.card[data-cat="西洋近現代思想"]::before {
    background-color: var(--color-red);
}

.card[data-cat="現代社会・心理"]::before {
    background-color: var(--color-yellow);
}


/* 苦手チェックボタン（星マークのようなイメージ） */
.weak-check-label {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 1.25em;
    z-index: 10;
}

/* チェックが入っていない時はグレー、入っている時はオレンジ */
.weak-check-label input {
    display: none;
}

.weak-check-label span::before {
    content: "☆";
    color: #999;
}

.weak-check-label input:checked+span::before {
    content: "★";
    color: #ff9800;
}
.weak-check-label input:checked+span::after {
    content: "☆";
    color: #999;
    position: absolute;
    top: 0;
    right: 0;
}