@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

/* img {
    max-width: 100%;
} */

/* .is-hidden {
    display: none !important;
} */

:root {
    --color-blue: #3498db;
    --color-green: #2ecc71;
    --color-red: #e74c3c;
    --color-yellow: #f1c40f;
}

/* 共通設定 */
body {
    font-family: "Kiwi Maru", serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    background: #f0f2f5;
    margin: 0;
    padding: 0 20px;
    color: #333;
}

h1 {
    font-size: 1.6rem;
    padding: 32px 0;
}

.back-link {
    position: absolute;
    top: 24px;
    left: 0;
    font-size: 1.2rem;
    width: 44px;
    height: 44px;
    display: grid;
    place-items: center;
    font-size: 1.4rem;
    font-weight: 400;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 12px 0;
}

header {
    text-align: center;
    position: relative;
}


/* ポータル画面用 */
.portal-container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.menu-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.menu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

